@{
    ViewData["Title"] = "Inicio";
}

<!-- HERO -->
<div class="hero" style="margin: -24px -12px 0; border-radius: 0;">
    <div>
        <h1>ENCUENTRA LO QUE BUSCAS<br/>AQUÍ EN TIENDA PC</h1>
        <div class="hero-btns">
            <a asp-controller="Tienda" asp-action="Index" class="btn-amarillo">VER TIENDA</a>
            <a href="https://wa.me/59175906612" target="_blank" class="btn-outline-amarillo">COTIZAR PC</a>
        </div>
    </div>
</div>
