@{
    ViewData["Title"] = "Envío Nacional";
}

<h2 class="my-4">🚚  Envío Nacional</h2>

<p style="color:#ccc">
    Realizamos envíos a nivel nacional con cobertura en todas las ciudades principales.
    Consulta el tiempo y costo de envío según tu ubicación.
</p>
